@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --colorFondo: rgb(245, 245, 245);
    --colorLetra: black;
    --lineasYborders: 1px solid rgb(107, 107, 107);
    --fuentePrincipal: 'Roboto', sans-serif;
    --textoPeq: small;
    --textoMed: medium;
    --radioBorde: 3px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: var(--textoMed);
    min-height: 100vh;
    padding: 20px;
}

/*Maquetado pagina*/

/* .grid-container>* {
    box-shadow: 10px 6px 37px -13px black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
} */


.grid-container {
    display: grid;
    gap: 20px;
    grid-template:
        "header" 80px
        "navbar" 80px
        "sidebar" auto
        "main" auto
        "footer" auto
    ;
}

#header {
    grid-area: header;
}

#navbar {
    grid-area: navbar;
}

#main {
    grid-area: main;
}

#sidebar {
    grid-area: sidebar;
}

#footer {
    grid-area: footer;
}




/* RESPONSINVE*/

/* tablets */
@media (min-width: 375px) and (max-width: 768px) {
    .grid-container {
        grid-template:
            "header header " 200px
            "navbar navbar" 100px
            "sidebar main" auto
            "footer footer " 150px /
            200px auto
    }


}

/* escritorio */
@media (min-width: 992px) {

    .grid-container {
        grid-template:
            "header header header" 100px
            "navbar navbar navbar" 60px
            "sidebar main main" auto
            "footer footer footer" auto /
            300px auto
    }


}



/*Cabecera*/
#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

#navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-top: var(--lineasYborders);
    border-bottom: var(--lineasYborders);
}


#barraCabecera,
#barraNavbar {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 3rem;
}

.textoCab {
    text-decoration: none;
    color: var(--colorLetra);
    font-weight: bold;
    font-size: var(--textoPeq);
}

#buscador {
    max-width: 40rem;
    height: 2rem;
    padding: 1rem;
}

#encontrarTienda {
    border: none;
    padding: 10px;
    color: var(--colorLetra);
    font-weight: 600;
}


/*ASIDE*/
#sidebar {
    display: flex;
    flex-flow: column wrap;
}


.filtros {
    list-style: none;
    text-align: left;
    padding: 1rem;
    font-size: var(--textoPeq);
    ;
}

.filtros>li {
    border: var(--lineasYborders);
    padding: 1rem;
}

.filtros>li:hover {
    background-color: var(--colorFondo);
}



/* MAIN */


#ordenarPor {
    width: 99%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 20px;
}

#ordenar {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--colorFondo);
}

#prodContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;

}

.prodItem>img {
    width: 100%;
    height: auto;
    background-color: var(--colorFondo);
    border-radius: var(--radioBorde);
}

.prodItem>h5>a {
    color: var(--colorLetra);
}

.prodItem {
    /* display: flex;
    flex-flow: row w; */
    border: none;
    border-radius: var(--radioBorde);
}

.prodItem:hover {
    border: var(--lineasYborders);
}

.prodItem>h5>a:hover {
    color: blue;
}

.prodItem>h5 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: left;
}

.descProd {
    margin-top: 0.5rem;
    font-size: x-small;
    margin-left: 1rem;
    text-align: left;
}

/* FOOTER */


#terminosEtc {
    border-collapse: separate;
    border-spacing: 20px;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    text-align: left;

}

.cab {
    font-weight: bold;
}

td,
th {
    padding: 10px;
    font-weight: lighter;
    font-size: var(--textoMed);
}

#listyBotFooter {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.textoBot {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: lighter;
    font-size: var(--textoMed);
}

.botones>button {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 30rem;
}

#logoFooter {
    display: flex;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    border-top: var(--lineasYborders);
    border-bottom: var(--lineasYborders);
    text-align: left;
    align-items: center;
    justify-content: space-between
}

#copyright {
    font-size: var(--textoPeq);
}